.display-5 {
    text-align: center;
}
    .display-5 {
        text-align: center;
        font-size: 220%;
    }

    .form-control {
        font-size: 220% !important;
    }

    .showTasks {
        font-size: 220% !important;
    }

    .close {
        font-size: 150% !important;
    }

    button {
        font-size: 150% !important;
    }
